@font-face {
  font-family: "Avenir Next Regular";
  font-weight: 400;
  src: url(../../assets/fonts/AvenirNextLTPro-Regular.otf) format("woff2");
}

@font-face {
  font-family: "Avenir Next Bold";
  font-weight: 700;
  src: url(../../assets/fonts/AvenirNextLTPro-Bold.otf) format("woff2");
}
