@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;

.hero {
  &__container {
    background-color: $BrainFlix-DarkBlack-color;
    @include desktop {
      display: flex;
      justify-content: center;
      padding-left: 2.25rem;
      padding-right: 2.25rem;
    }
  }
  &__video {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    @include tablet {
      padding-left: 2.25rem;
      padding-right: 2.25rem;
    }
    @include desktop {
      @include desktop-grid;
    }
  }
}

//Spinner
.loader {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  display: block;
  margin: 15px auto;
  position: relative;
  color: #434343;
  box-sizing: border-box;
  animation: animloader 1s linear infinite alternate;
}

@keyframes animloader {
  0% {
    box-shadow: -38px -6px, -14px 6px, 14px -6px;
  }
  33% {
    box-shadow: -38px 6px, -14px -6px, 14px 6px;
  }
  66% {
    box-shadow: -38px -6px, -14px 6px, 14px -6px;
  }
  100% {
    box-shadow: -38px 6px, -14px -6px, 14px 6px;
  }
}
