@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;

.hero {
  &__container {
    background-color: $BrainFlix-DarkBlack-color;
    @include desktop {
      display: flex;
      justify-content: center;
      padding-left: 2.25rem;
      padding-right: 2.25rem;
    }
  }
  &__video {
    aspect-ratio: 16/9;
    object-fit: cover;
    @include tablet {
      padding-left: 2.25rem;
      padding-right: 2.25rem;
    }
    @include desktop {
      width: 60%;
    }
  }
}
