@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;

.videos {
  @include mobile-grid;
  @include tablet {
    @include tablet-grid;
    @include desktop {
      @include desktop-grid;
    }
  }
  &__list {
    padding: 1rem;
  }

  &__subheader {
    @include subheader;
    color: $Silver-color;
    padding-bottom: 1rem;
  }

  &__item {
    display: flex;
    padding-top: 1rem;
  }

  &__image {
    height: 5rem;
    width: 8.5rem;
    border-radius: 4px;
    object-fit: cover;
    margin-right: 1rem;
  }

  &__description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }

  &__title {
    @include subheader;
  }

  &__name {
    @include body-copy;
  }
}
