@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;

.videos {
  @include mobile-grid;
  @include tablet {
    @include tablet-grid;
    @include desktop {
      @include desktop-grid;
      width: 70rem;
      border-left: 1px solid $Mercury-color;
    }
  }
  &__list {
    padding: 1rem;
    padding-right: 0;
    padding-left: 0;
  }

  @include desktop {
    padding-left: 1rem;
  }

  &__subheader {
    @include subheader;
    color: $Silver-color;
    padding-bottom: 1rem;
  }

  &__item {
    display: flex;
    padding-top: 1rem;
  }

  &__image {
    height: 5rem;
    width: 8.5rem;
    border-radius: 4px;
    object-fit: cover;
    margin-right: 1rem;
  }

  &__description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }

  &__title {
    color: $BrainFlix-Black-color;
    @include subheader;
  }

  &__name {
    color: $BrainFlix-Black-color;
    @include body-copy;
  }
}

//Spinner
.loader {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  display: block;
  margin: 15px auto;
  position: relative;
  color: #434343;
  box-sizing: border-box;
  animation: animloader 1s linear infinite alternate;
}

@keyframes animloader {
  0% {
    box-shadow: -38px -6px, -14px 6px, 14px -6px;
  }
  33% {
    box-shadow: -38px 6px, -14px -6px, 14px 6px;
  }
  66% {
    box-shadow: -38px -6px, -14px 6px, 14px -6px;
  }
  100% {
    box-shadow: -38px 6px, -14px -6px, 14px 6px;
  }
}
