@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;

.header {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  padding-bottom: 1rem;
  @include mobile-grid;

  @include tablet {
    @include tablet-grid;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding-top: 0;
  }
  @include desktop {
    @include desktop-grid;
  }

  &__logo {
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
    @include tablet {
      padding-bottom: 0;
    }
  }
  &__logo-img {
    height: 1.5625rem;
    width: 7.5rem;
  }
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    @include tablet {
      align-items: end;
      width: 60%;
    }
  }
  &__search-bar {
    width: 90%;
  }

  &__search-input {
    @include body-copy;
    height: 2.5rem;
    width: 80%;
    border: 1px solid $Mercury-color;
    border-radius: 0.25rem;
    background-image: url(../../assets/images/icons/search.svg);
    background-repeat: no-repeat;
    padding-left: 2.2rem;
    background-position: 10px 9px;
    background-color: $Alabaster-color;
    @include tablet {
      width: 50%;
      @include tablet_desktop_body-copy;
      margin-left: 1.875rem;
    }
    @include desktop {
      width: 40%;
      margin-left: 5rem;
    }
  }

  &__profile-img {
    display: inline-block;
    width: 2.5rem;
    height: 2.3rem;
    border-radius: 50%;
    object-fit: cover;
    @include tablet {
      order: 1;
    }
  }
  &__button {
    height: 2.5rem;
    width: 100%;
    @include body-copy;
    border: 1px solid $Mercury-color;
    background-color: $BrainFlix-Blue-color;
    background-image: url(../../assets/images/icons/upload.svg);
    background-repeat: no-repeat;
    background-position: 5px 5px;
    color: $White-color;
    border-radius: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    @include tablet {
      width: 30%;
      @include tablet_desktop_body-copy;
    }
  }
}

//Hover State
input:active {
  border: 2px solid $BrainFlix-Blue-color;
  background-color: white;
}

input:focus {
  border: 2px solid $BrainFlix-Blue-color;
  background-color: white;
}
