@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;

.comments-section {
  &__allcomments {
    margin-left: 1rem;
    margin-right: 1rem;
    @include tablet {
      @include tablet-grid;
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
    @include desktop {
      padding: 0;
      margin-right: 0;
    }
  }

  &__subheader {
    @include subheader;
    color: $BrainFlix-Black-color;
    padding-top: 1rem;

    @include tablet {
      @include tablet_desktop_subheader;
      padding: 0;
    }
    @include desktop {
      padding-bottom: 1.25rem;
    }
  }
  &__profile-image {
    display: inline-block;
    object-fit: cover;
    width: 2.5rem;
    height: 2.3rem;
    border-radius: 100%;
    margin-top: 1rem;
    margin-right: 1rem;
  }
  &__form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__block {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-bottom: 1px solid $Mercury-color;
    padding-top: 1rem;
    padding-bottom: 1rem;
    @include tablet {
      align-items: end;
    }
  }

  &__form-title {
    @include subheader;
    color: $Silver-color;
  }

  &__input-container {
    @include tablet {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
    }
    @include desktop {
      padding-right: 1rem;
    }
  }
  &__form-card {
    @include body-copy;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 2.25rem;
    padding: 0.75rem;
    border: 1px solid $Mercury-color;
    border-radius: 0.25rem;
    background-color: $Alabaster-color;
    @include tablet {
      height: 3rem;
      padding: 1rem;
    }
  }

  &__form-card--size {
    height: 6.25rem;
    padding-top: 0;
    padding-bottom: 3.125rem;
    @include tablet {
      height: 2.5rem;
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  &__form-button {
    height: 2.5rem;
    width: 100%;
    @include body-copy;
    border: 1px solid $Mercury-color;
    background-color: $BrainFlix-Blue-color;
    background-image: url(../../assets/images/icons/add_comment.svg);
    background-repeat: no-repeat;
    background-position: 0.3125rem 0.5625rem;
    color: $White-color;
    border-radius: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;

    @include tablet {
      margin-left: 1rem;
      max-width: 10rem;
    }
  }

  &__container {
    display: flex;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid $Mercury-color;
  }

  &__container-profile-img {
    background-color: $Mercury-color;
    border-radius: 100%;
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 1rem;
    object-fit: cover;
  }

  &__container-info {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  &__container-block {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.5rem;

    @include desktop {
      padding-right: 1rem;
    }
  }
  &__container-name {
    color: $BrainFlix-Black-color;
    @include subheader;
    @include tablet {
      padding-right: 1rem;
    }

    @include tablet {
      @include tablet_desktop_subheader;
    }
  }

  &__container-date {
    @include body-copy;
    color: $Silver-color;

    @include tablet {
      @include tablet_desktop_body-copy;
    }
  }

  &__container-text {
    color: $BrainFlix-Black-color;
    @include body-copy;

    @include tablet {
      @include tablet_desktop_body-copy;
    }

    @include desktop {
      padding-right: 1rem;
    }
  }
}

// Hover States

input:active {
  border: 2px solid $BrainFlix-Blue-color;
  background-color: white;
}

input:focus {
  border: 2px solid $BrainFlix-Blue-color;
  background-color: white;
}
